:root {
    --green: #00916E;
    --yellow: #FFCF00;
    --light: #FEEFE5;
    --black: #353935;
}

body {
    font-family: "Courier New";
    background-color: var(--light);
    color: var(--black);
    width: 100%;
}

h1 {
    background-color: var(--green);
    color: var(--yellow);
    text-align: center;
}

h2 {
    margin-top: 45px;
    border: 2px solid var(--yellow);
    color: var(--yellow);
    display: inline-block;
    margin-left: 45px;
    padding: 1px;
    background-color: var(--green);
}

button {
    background-color: var(--yellow);
    border: 0;
    height: 3em;
}

button:hover {
    background-color: var(--black);
    color: var(--yellow);
}

input {
    background-color: var(--yellow);
    color: var(--black);
}

::placeholder {
    color: var(--black);
    font-size: 115%;
}

input {
    width: 500px;
}

#clientList {
    list-style-type: none;
    margin-top: 50px;
}

li {
    padding: 4px;
}

.client-name {
    padding-right: 50px;
}
.client-category {
    background-color: var(--yellow);
    color: var(--black);
    margin-right: 50px;
}

#firstName {
    width: 25%;
}

#lastName {
    width: 25%;
}

#email {
    width: 25%;
}

#website {
    width: 25%;
}

#otherCategory {
    width: 25%;
}

#streetAdd {
    width: 51%;
}

#city {
    width: 37%;
}

#state {
    width: 5%;
}

#zipcode {
    width: 7%;
}

.delete {
    background-color: var(--green);
    color: var(--light);
    width: 5em;
}

.delete:hover {
    background-color: var(--light);
    color: var(--green);
    border: 1px solid var(--black);
}

.viewClient {
    margin-left: 2px;
    width: 5em;
    background-color: var(--green);
    color: var(--light);
}

.viewClient:hover {
    background-color: var(--light);
    color: var(--green);
    border: 1px solid var(--black);
}

/* modal styles */

.details {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(53, 57, 53, 0.4);
}

.clientInformation {
    background-color: var(--green);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--yellow);
    width: 80%;
}

.close {
    color: var(--light);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}