:root {
    --green: #00916E;
    --yellow: #FFCF00;
    --light: #FEEFE5;
    --black: #353935;
}

body {
    font-family: "Courier New";
    background-color: var(--light);
    color: var(--black);
    width: 100%;
}

h1 {
    background-color: var(--green);
    color: var(--yellow);
    text-align: center;
}

h2 {
    margin-top: 45px;
    border: 2px solid var(--yellow);
    color: var(--yellow);
    display: inline-block;
    margin-left: 45px;
    padding: 1px;
    background-color: var(--green);
}

button {
    background-color: var(--yellow);
    border: 0;
}

input {
    background-color: var(--yellow);
    color: var(--black);
}

::placeholder {
    color: var(--black);
    font-size: 115%;
}

input {
    width: 500px;
}

#toDoList {
    list-style-type: none;
    margin-top: 50px;
}

li {
    padding: 4px;
}

.task {
    padding-right: 50px;
}
.category {
    background-color: var(--yellow);
    color: var(--black);
    margin-right: 50px;
}

.done {
    text-decoration: line-through;
}

#firstName {
    width: 25%;
}

#lastName {
    width: 25%;
}

#otherCategory {
    width: 25%;
}

#city {
    width: 18%;
}

#state {
    width: 5%;
}

#zipcode {
    width: 7%;
}